.footer{
  position: static;
  background-color: #191818;/* background color */
  color: white;
  padding: 1.2%;
}

.search{
  display: inline-block;
}


.footer h2{
  margin-left: 80px;
  color: white;
}

.footer img{
  padding: inherth; /* Sets the value of the fields around the element content */
}

.foo{
  display: inline-block;
  color: grey;
  margin-left: 230px;
}

.c{
  display: inline-block;
  color: grey;
  margin-left: 1200px;
}

#ss{

  position: absolute; /* Absolute positioning */
  color: darkred;/* text color */
  top: 500px; /* Position from the top edge */
  margin-left: 580px;
}

#ss1{
  position: absolute; /* Absolute positioning */
  color: darkred;/* text color */
  top: 500px; /* Position from the top edge */
  margin-left: 640px;

}

#ss2{
  display: block;
  position: absolute; /* Absolute positioning */
  color: darkred;/* text color */
  top: 500px; /* Position from the top edge */
  margin-left: 700px;
}

