<form [formGroup]="form">
  <label for="name">Music:</label><br>
  <input type="text" id="name" name="name" formControlName="name"><br>
  <br>

  <label for="Year">Release Year:</label><br>
  <input type="text" id="Year" name="Year" formControlName="Year"><br>
  <br>

  <label for="Author">Author:</label><br>
  <input type="text" id="Author" name="Author" formControlName="Author"><br>
  <br>

  <label for="min">Min:</label><br>
  <input type="text" id="min" name="min" formControlName="min"><br>
  <br>

  <br>
  <button *ngIf="new" (click)="create()">create</button><br>
  <button *ngIf="!new" (click)="update()">update</button>
</form>
